/* Just some base styles not needed for example to function */
*, html { font-family: Verdana, Arial, Helvetica, sans-serif; }

body, form, ul, li, p, h1, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
}
body { margin: 0; }
img { border: none; }

	
/* CSS Tree menu styles */
ol.tree
{
	padding: 0 0 0 30px;
	width: 500px;
}
	li 
	{ 
		position: relative; 
		margin-left: -15px;
		list-style: none;
	}
	li.file
	{
		margin-left: -1px !important;
	}
		li.file a
		{
			background: url('../../imges/arbol_hoja.png') 0 0 no-repeat;			
			background-size: 16px 16px;
			text-decoration: none;
			display: block;
			padding: 0px 30px;	
			font-size: 12px;
		}		
	li input
	{
		position: absolute;
		left: 0;
		margin-left: 0;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		height: 1em;
		width: 1em;
		top: 0;
	}
	li input + ol
	{
		background: url('../../imges/toggle-small-expand.png') 40px 0 no-repeat;
		margin: -0.938em 0 0 -44px; /* 15px */
		height: 1em;
	}
	li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
	li label
	{
		background: url('../../imges/arbol.png') 15px 1px no-repeat;
		background-size: 16px 16px;
		cursor: pointer;
		display: block;
		padding: 0px 43px;
		font-size: 12px;
	}

	li input:checked + ol
	{
		background: url('../../imges/toggle-small.png') 40px 5px no-repeat;		
		margin: -1.25em 0 0 -44px; /* 20px */
		padding: 1.563em 0 0 80px;
		height: auto;
	}
		li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
		li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }