.headCuponera {
  background-color: #397bff;
  color: #fff;
  padding: 15px;
  box-shadow: 0px 1px 3px 3px #356ee1;
}

.bdcuponera {
  background-color: #397bff;
}

.headcampania {
  background-color: #397bff;
  color: #fff;
  border-radius: 0;
    border: none;
}

.headcampania a {
  color: rgb(255, 255, 255);
}

.subHeadCup {
  padding-top: 10px;
  border-bottom: 1px solid #cfd0d0;
  color: #494949;
  font-size: 17px;
}

.cardCampania {
  border-radius: 1em;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
 
}




.cardBorderCols {
  border-radius: 1em;
  background-color: white;
}

.card-body.cardHead {
  padding: 10px;
}

.dateCupon {
  background-color: #397bff;
  color: #fff;
  padding: 5px;
}

.canjearBtn {
  border-radius: 1em;
  background-color: #397bff;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

.indicatorCupon {
  padding-bottom: 30px;
}

.alignLink {
    padding-top: 6px;
}

.codigoCupon {
  color: #397bff;
  font-size: 40px;
  margin: 0;
}

.codigoCuponAel {
  color: #397bff;
  font-size: 20px;
  margin: 0;
}

.pardoAca {
  font-size: 35px;
}

.tiempoCard {
  font-size: 13px;
}

.navCupones {
  margin: 20px;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.navPardo a{
  color:white !important;
}

.btn-nav-bar {
  color:white !important;
}