.login-clean {
  background: #397bff;
}

.login-clean form {
  width: 100%;
  margin: 0 auto;
  background-color: #397bff;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  color: #fff;
}

.login-clean .illustration {
  text-align: center;
  padding: 0 0 10px;
  font-size: 20px;
  color: #ffffff;
}

.login-clean form .form-control {
  background: transparent;
  border: 1px solid #dfe7f1;
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  color: #fff;
  text-indent: 8px;
  
}

.login-clean form .input-group {
  background: transparent;
  border: 1px solid #dfe7f1;
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  color: #fff;
  text-indent: 8px;
  height: 45px;
  margin-bottom: 10px;
 
}

.login-clean form .custom-select {
  background: transparent;
  border: 1px solid #dfe7f1;
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  color: #fff;
  text-indent: 8px;
  height: 45px;
}

.login-clean form .btn-primary {
  background: #397bff;
  border: 1px solid #dfe7f1;
  border-radius: 10px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #395bff;
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}

select option {
    
    color: #397bff;
}

input::placeholder {
  color: white !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white !important;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.icon.ion-ios-contact {
  font-size: 200px;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
  border: none;
}

.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child), .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 0;
}


#msgerror,#msgerrorcorreo{
  color:red;
  padding-bottom: 100px;

}

#test,#test1{
  color:rgb(73, 150, 73);
  padding-top: 10px;
  padding-right: 5px;
}

.newregister{
  font-size: 16px;
}
.newregister a{

    color:white;
    border-bottom: 1px solid white;

}
