/*************************************************************/
body{
 margin-top:0;
 margin-left:0;
 background-color: #EDEDEE;
}
select{
	background: #0075B2;
	width: 130px;
}
/*************************************************************/
img{
	cursor:hand;
	cursor:pointer;	
	width: 20px;
	height: 20px;
}
/*************************************************************/
input.text[disabled]{ /* Casilleros Inhabilitados --- no anda */	
	background: green;
	color: red;	
}
/*************************************************************/
.etiquetas {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*font-weight: bold;*/
	color: #666868;
	}
/*************************************************************/
.campos {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black; 
	border:1px solid;
	border-color: #BDBDBD;
	background: #FFFFFF;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0);
}
.campos:focus {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black; 
	border:1px solid;
	border-color: blue;
	background: #FFFFFF;
	box-shadow: 1px 2px 5px rgba(0, 0, 255, 1.5);
}
.camposgrid{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black; 
	border:1px solid;
	border-color: #BDBDBD;
	background: #FFFFFF;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0);
}
.camposgrid:focus{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black; 
	border:1px solid;
	border-color: blue;
	background: #FFFFFF;
	box-shadow: 1px 2px 5px rgba(0, 0, 255, 1.5);
}
input[type=checkbox]:focus { 	
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0);	
}
input[type=checkbox]:focus { 	
	box-shadow: 1px 2px 5px rgba(0, 0, 255, 1.5);	
}
/*************************************************************/	
.botones {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	cursor: pointer;
	cursor: hand;
	background-color:transparent; 
	background-image:url(/Hoteles/imges/boton_cancel.png); 
	border-style:none;
	}
/*************************************************************/	
.botones_menu {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align:left;
	text-indent: 2px;
	padding: 2px;
	/*background-image: url(images/button2.jpg);*/
	border: 1px outset  #CCCCCC;
	color:#000000;
	width: 100px;
	height: 24px;
	cursor: pointer;
	cursor: hand;
}
/*************************************************************/
/*.tr_titulos_brw{
	font-family:Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;	
	background: url(images/button2.jpg);
	border: 1px outset  #CCCCCC;	
	width: 80px;
	cursor: pointer;
	cursor: hand;
}

.tr_brw{
	height: 10px;
}
*/
/*************************************************************/
.tblabm{		
	border-collapse: collapse;	
}
.tblabm th, td {
    padding: 0;    
}
/*************************************************************/
table#tblbrw {	
	font: normal 8px verdana, arial, helvetica, sans-serif;	
	background-color: white;		  
}	
table#brw {	
	font: normal 8px verdana, arial, helvetica, sans-serif;	
	background-color: white;		  
}
thead#brw th {
	font: 10px verdana, arial, helvetica, sans-serif;	
	text-align: center;
	background: #00669B;
	color: white;
	cursor: pointer;
	cursor: hand;	
}
tr#brw th {
	font: 10px verdana, arial, helvetica, sans-serif;	
	text-align: center;
	background: #00669B;
	color: white;
	cursor: pointer;
	cursor: hand;	
}
.hover_tr {  /* Estilo para browser cuando mouse pasa por encima { */
	font: 10px verdana, arial, helvetica, sans-serif;
  	background: #64C8D0;		  	
  	color: #FFFFFF;
  	cursor: pointer;
  	cursor: hand;  	
}
.brwselection {  /* Estilo para browser cuando fue seleccionado una fila { */
	font: 10px verdana, arial, helvetica, sans-serif;
  	background: #2EFE64;
  	color: #FFFFFF;
  	cursor: pointer;
  	cursor: hand;  	
}
tbody#brw tr {
	font: 11px verdana, arial, helvetica, sans-serif;
	cursor: pointer;
	cursor: hand;
	color: #666868;	
}
/*************************************************************/
.rpt_titulo_gral{	
	font: 28px verdana, arial, helvetica, sans-serif;
}
.rpt_filtros{
	font: 11px verdana, arial, helvetica, sans-serif;
}
.rpt_brw_titulos{
	font: 10px verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: center;	
	background-color: #6A6A6A;
	color: white;
}
.rpt_brw_titulos2{
	font: 10px verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: center;	
	background-color: #969696;
	color: white;
}
.rpt_brw_titulos3{
	font: 10px verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: center;	
	background-color: #b4b4b4;
	color: white;
}
.rpt_brw_detalle{
	font: 10px verdana, arial, helvetica, sans-serif;
	background-color: white;
}
.rpt_brw_detalle2{
	font: 10px verdana, arial, helvetica, sans-serif;
	background-color: #FFFFAE;
}
.rpt_brw_detalle3{
	font: 10px verdana, arial, helvetica, sans-serif;
	background-color: #FFFF8F;
}
.rpt_brw_corte{
	font: 11px verdana, arial, helvetica, sans-serif;
	background-color: white;
}
.rpt_brw_pie{
	font: 10px verdana, arial, helvetica, sans-serif;
	background-color: #6A6A6A;
	font-weight: bold;
	color: white;
}
.rpt_color_detalle{
	background-color: #F2F5A9;
}
/*************************************************************/
.doc_cabecera{
	font: 12px verdana, arial, helvetica, sans-serif;
}
.doc_brw_titulos{
	font: 11px verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: center;			
}
.doc_brw_detalle{
	font: 11px verdana, arial, helvetica, sans-serif;
	background-color: white;	
}
.doc_brw_pie{
	font: 12px verdana, arial, helvetica, sans-serif;	
	font-weight: bold;	
}
/*************************************************************/
:disabled{
	background:#EFEEFE;
}
/*************************************************************/
a{
	cursor:hand;
	cursor:pointer;	
}
/*************************************************************/